.idea/
venv2/
venv/
src/__pycache__
parse_seg/.idea/
parse_seg/Objects/
parse_seg/venv/
src/dataset_creation/other/
src/staging_ml/__pycache__/
src/green_screen/find_similar/__pycache__/
src/green_screen/find_similar/VanishingPoint/__pycache__/
premium_feature_roadmap.rtf
src/images/
src/green_screen/preprocess/__pycache__/
src/instance/site.db
src/UprightNet/checkpoints
src/UprightNet/.idea
src/stage/DepthAnything/zoedepth/checkpoints
src/UprightNet/imgs/normal_pair/users.png
src/UprightNet/imgs/precomputed_crop_hw/users.txt
src/UprightNet/imgs/rgb/users.png