{% extends "SelectWithImageLayout.html" %}
{% block title %}
<title>Budget</title>
{% endblock title %}

{% block header %}
<h1>What is your budget?</h1>
{% endblock header %}

{% block options %}
        <a href="{{ url_for('style', image_url=url_for('static', filename='images/moderate.jpg'), text=text+', Moderate') }}">
            <span class="image-text">Moderate</span>
            <img src="{{ url_for('static', filename='images/moderate.jpg') }}" alt="Moderate" /> <!-- change your image here -->
        </a>
        <a href="{{ url_for('style', image_url=url_for('static', filename='images/standard.jpg'), text=text+', Standard') }}">
            <span class="image-text">Standard</span>
            <img src="{{ url_for('static', filename='images/standard.jpg') }}" alt="Standard" /> <!-- change your image here -->
        </a>
        <a href="{{ url_for('style', image_url=url_for('static', filename='images/high-end.jpg'), text=text+', High-End') }}">
            <span class="image-text">High-End</span>
            <img src="{{ url_for('static', filename='images/high-end.jpg') }}" alt="High-End" /> <!-- change your image here -->
        </a>
        <a href="{{ url_for('style', image_url=url_for('static', filename='images/luxurious.jpg'), text=text+', Luxurious') }}">
            <span class="image-text">Luxurious</span>
            <img src="{{ url_for('static', filename='images/luxurious.jpg') }}" alt="Luxurious" /> <!-- change your image here -->
        </a>
{% endblock options %}