{% extends "SelectWithImageLayout.html" %}
{% block title %}
<title>Favourites</title>
{% endblock title %}

{% block header %}
<h1>What is your favourite?</h1>
{% endblock header %}

{% block options_fav %}
{% for image_path in image_paths %}
    <a href="{{ url_for('favourites', image_url=url_for('static', filename=image_path), text=text, chosen_favourite=True) }}">
        <img src="{{ url_for('static', filename=image_path) }}" /> <!-- change your image here -->
    </a>
{% endfor %}
{% endblock options_fav %}