{% extends "SelectWithImageLayout.html" %}
{% block title %}
<title>Favourites</title>
{% endblock title %}

{% block header %}
<h1>What is your favourite?</h1>
{% endblock header %}

{% block options_fav %}
        <a href="{{ url_for('favourites', image_url=url_for('static', filename='images/fav0.jpg'), text=text, chosen_favourite=True) }}">
            <img src="{{ url_for('static', filename='images/fav0.jpg') }}" /> <!-- change your image here -->
        </a>
        <a href="{{ url_for('favourites', image_url=url_for('static', filename='images/fav1.jpg'), text=text, chosen_favourite=True) }}">
            <img src="{{ url_for('static', filename='images/fav1.jpg') }}" /> <!-- change your image here -->
        </a>
        <a href="{{ url_for('favourites', image_url=url_for('static', filename='images/fav2.jpg'), text=text, chosen_favourite=True) }}">
            <img src="{{ url_for('static', filename='images/fav2.jpg') }}" /> <!-- change your image here -->
        </a>
        <a href="{{ url_for('favourites', image_url=url_for('static', filename='images/fav3.jpg'), text=text, chosen_favourite=True) }}">
            <img src="{{ url_for('static', filename='images/fav3.jpg') }}" /> <!-- change your image here -->
        </a>
        <a href="{{ url_for('favourites', image_url=url_for('static', filename='images/fav4.jpg'), text=text, chosen_favourite=True) }}">
            <img src="{{ url_for('static', filename='images/fav4.jpg') }}" /> <!-- change your image here -->
        </a>
        <a href="{{ url_for('favourites', image_url=url_for('static', filename='images/fav5.jpg'), text=text, chosen_favourite=True) }}">
            <img src="{{ url_for('static', filename='images/fav5.jpg') }}" /> <!-- change your image here -->
        </a>
{% endblock options_fav %}