{% extends "layout.html" %}
{% block content %}
<div class="background-home-image"></div> <!-- BACKGROUND IMAGE AND OVERLAY -->
<div class="overlay"></div>
<div class="container">
  <div class="form-container">
    <h1 style="color: white; font-family: 'Roboto', sans-serif;">Reset Password</h1>
    <div class="form-background">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.password.label(style="color: white; font-family: 'Roboto', sans-serif;")}}
        {{ form.password(class="form-control", id="password") }}
        {% for error in form.password.errors %}
        <span class="error" style="color: red; font-family: 'Roboto', sans-serif;">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.confirm_password.label(style="color: white; font-family: 'Roboto', sans-serif;")}}
        {{ form.confirm_password(class="form-control", id="confirm_password") }}
        {% for error in form.confirm_password.errors %}
        <span class="error" style="color: red; font-family: 'Roboto', sans-serif;">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info", style="font-family: 'Roboto', sans-serif; margin-top: 20px; margin-left: 65px;") }}
      </div>
    </form>
    </div>
  </div>
</div>
{% endblock content %}