{% extends "SelectWithImageLayout.html" %}
{% block title %}
<title>Room</title>
{% endblock title %}

{% block header %}
<h1>What is your room?</h1>
{% endblock header %}

{% block options %}
        <a href="{{ url_for('budget', image_url=url_for('static', filename='images/living_room.jpg'), text=text+', Living Room') }}">
            <span class="image-text text-overlay">Living Room</span>
            <img src="{{ url_for('static', filename='images/living_room.jpg') }}" alt="Living Room" /> <!-- change your image here -->
        </a>
        <a href="{{ url_for('budget', image_url=url_for('static', filename='images/kitchen.jpg'), text=text+', Kitchen') }}">
            <span  class="image-text text-overlay">Kitchen</span>
            <img src="{{ url_for('static', filename='images/kitchen.jpg') }}" alt="Kitchen" /> <!-- change your image here -->
        </a>
        <a href="{{ url_for('budget', image_url=url_for('static', filename='images/bathroom.jpg'), text=text+', Bathroom') }}">
            <span class="image-text text-overlay">Bathroom</span>
            <img src="{{ url_for('static', filename='images/bathroom.jpg') }}" alt="Bathroom" /> <!-- change your image here -->
        </a>
        <a href="{{ url_for('budget', image_url=url_for('static', filename='images/bedroom.jpg'), text=text+', Bedroom') }}">
            <span class="image-text text-overlay">Bedroom</span>
            <img src="{{ url_for('static', filename='images/bedroom.jpg') }}" alt="Bedroom" /> <!-- change your image here -->
        </a>
{% endblock options %}