{% extends "FirstSelectLayout.html" %}
{% block title %}
<title>Space</title>
{% endblock title %}

{% block header %}
<h1>What is your space?</h1>
{% endblock header %}

{% block options %}
<!-- No idea why we need this class, Chat-GPT said so. And it worked to get the 2 by 3 grid -->
<div class="image-picker-container">
        <a href="{{ url_for('room', image_url=url_for('static', filename='images/residential.jpg'), text='Residential') }}">
            <span class="image-text">Residential</span>
            <img src="{{ url_for('static', filename='images/residential.jpg') }}" alt="Residential" /> <!-- change your image here -->
        </a>
        <a href="{{ url_for('room', image_url=url_for('static', filename='images/hospitality.jpg'), text='Hospitality') }}">
            <span class="image-text">Hospitality</span>
            <img src="{{ url_for('static', filename='images/hospitality.jpg') }}" alt="Hospitality" /> <!-- change your image here -->
        </a>
        <a href="{{ url_for('room', image_url=url_for('static', filename='images/healthcare.jpg'), text='Healthcare') }}">
            <span class="image-text">Healthcare</span>
            <img src="{{ url_for('static', filename='images/healthcare.jpg') }}" alt="Healthcare" /> <!-- change your image here -->
        </a>
        <a href="{{ url_for('room', image_url=url_for('static', filename='images/corporate_workspace.jpg'), text='Corporate Workspace') }}">
            <span class="image-text">Corporate Workspace</span>
            <img src="{{ url_for('static', filename='images/corporate_workspace.jpg') }}" alt="Corporate Workspace" /> <!-- change your image here -->
        </a>
        <a href="{{ url_for('room', image_url=url_for('static', filename='images/retail.jpg'), text='Retail') }}">
            <span class="image-text">Retail</span>
            <img src="{{ url_for('static', filename='images/retail.jpg') }}" alt="Retail" /> <!-- change your image here -->
        </a>
        <a href="{{ url_for('room', image_url=url_for('static', filename='images/education.jpg'), text='Education') }}">
            <span class="image-text">Education</span>
            <img src="{{ url_for('static', filename='images/education.jpg') }}" alt="Education" /> <!-- change your image here -->
        </a>
</div>
{% endblock options %}