{% extends "SelectWithImageLayout.html" %}
{% block title %}
<title>Style</title>
{% endblock title %}

{% block header %}
<h1>What is your style?</h1>
{% endblock header %}

{% block options %}
        <a href="{{ url_for('favourites', image_url=url_for('static', filename='images/contemporary.jpeg'), text=text+', Contemporary') }}">
            <span class="image-text text-overlay">Contemporary</span>
            <img src="{{ url_for('static', filename='images/contemporary.jpeg') }}" alt="Contemporary" /> <!-- change your image here -->
        </a>
        <a href="{{ url_for('favourites', image_url=url_for('static', filename='images/traditional.jpg'), text=text+', Traditional') }}">
            <span class="image-text text-overlay">Traditional</span>
            <img src="{{ url_for('static', filename='images/traditional.jpg') }}" alt="Traditional" /> <!-- change your image here -->
        </a>
        <a href="{{ url_for('favourites', image_url=url_for('static', filename='images/modern.jpg'), text=text+', Modern') }}">
            <span class="image-text text-overlay">Modern</span>
            <img src="{{ url_for('static', filename='images/modern.jpg') }}" alt="Modern" /> <!-- change your image here -->
        </a>
        <a href="{{ url_for('favourites', image_url=url_for('static', filename='images/art_deco.jpg'), text=text+', Art Deco') }}">
            <span class="image-text text-overlay">Art Deco</span>
            <img src="{{ url_for('static', filename='images/art_deco.jpg') }}" alt="Art Deco" /> <!-- change your image here -->
        </a>
{% endblock options %}