{% extends "SelectWithImageLayout.html" %}
{% block title %}
<title>Style</title>
{% endblock title %}

{% block header %}
<h1>What is your style?</h1>
{% endblock header %}

{% block options %}
        <a href="{{ url_for('favourites', image_url=url_for('static', filename='images/contemporary.jpeg'), text=text+', Contemporary') }}">
            <span class="image-text">Contemporary</span>
            <img src="{{ url_for('static', filename='images/contemporary.jpeg') }}" alt="Contemporary" /> <!-- change your image here -->
        </a>
        <a href="{{ url_for('favourites', image_url=url_for('static', filename='images/traditional.jpg'), text=text+', Traditional') }}">
            <span class="image-text">Traditional</span>
            <img src="{{ url_for('static', filename='images/traditional.jpg') }}" alt="Traditional" /> <!-- change your image here -->
        </a>
        <a href="{{ url_for('favourites', image_url=url_for('static', filename='images/industrial.jpg'), text=text+', Industrial') }}">
            <span class="image-text">Industrial</span>
            <img src="{{ url_for('static', filename='images/industrial.jpg') }}" alt="Industrial" /> <!-- change your image here -->
        </a>
        <a href="{{ url_for('favourites', image_url=url_for('static', filename='images/scandinavian.jpg'), text=text+', Scandinavian') }}">
            <span class="image-text">Scandinavian</span>
            <img src="{{ url_for('static', filename='images/scandinavian.jpg') }}" alt="Scandinavian" /> <!-- change your image here -->
        </a>
{% endblock options %}